﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ServiceSolutionIT.ServiceFood.WebSite._Default" %>

<%--<asp:Content runat="server" ID="FeaturedContent" ContentPlaceHolderID="FeaturedContent">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1><%: Title %>.</h1>
                <h2>Modify this template to jump-start your ASP.NET application.</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET, visit <a href="http://asp.net" title="ASP.NET Website">http://asp.net</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET.
                If you have any questions about ASP.NET visit
                <a href="http://forums.asp.net/18.aspx" title="ASP.NET Forum">our forums</a>.
            </p>
        </div>
    </section>
</asp:Content>--%>
<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="col-md-12">
                <!-- content starts -->
                <div class="row">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-list-alt"></i>Chart with points</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div id="sincos" class="center" style="height: 300px"></div>
                                <p id="hoverdata">
                                    Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span
                                        id="clickdata"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-list-alt"></i>Flot</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div id="flotchart" class="center" style="height: 300px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-list-alt"></i>Stack Example</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div id="stackchart" class="center" style="height: 300px;"></div>

                                <p class="stackControls center">
                                    <input class="btn btn-default" type="button" value="With stacking">
                                    <input class="btn btn-default" type="button" value="Without stacking">
                                </p>

                                <p class="graphControls center">
                                    <input class="btn btn-primary" type="button" value="Bars">
                                    <input class="btn btn-primary" type="button" value="Lines">
                                    <input class="btn btn-primary" type="button" value="Lines with steps">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="">
                                    <h2><i class="glyphicon glyphicon-list-alt"></i>Pie</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div id="piechart" style="height: 300px"></div>
                                </div>
                            </div>
                        </div>

                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="">
                                    <h2><i class="glyphicon glyphicon-list-alt"></i>Realtime</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div id="realtimechart" style="height: 190px;"></div>
                                    <p>
                                        You can update a chart periodically to get a real-time effect by using a timer to insert the new data
                    in the plot and redraw it.
                                    </p>

                                    <p>
                                        Time between updates:
                                        <input id="updateInterval" type="text" value=""
                                            style="text-align: right; width: 5em">
                                        milliseconds
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="">
                                    <h2><i class="glyphicon glyphicon-list-alt"></i>Donut</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div id="donutchart" style="height: 300px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->

                </div>

            </div>

            <!-- chart libraries start -->
            <script src="../bower_components/flot/excanvas.min.js"></script>
            <script src="../bower_components/flot/jquery.flot.js"></script>
            <script src="../bower_components/flot/jquery.flot.pie.js"></script>
            <script src="../bower_components/flot/jquery.flot.stack.js"></script>
            <script src="../bower_components/flot/jquery.flot.resize.js"></script>
            <!-- chart libraries end -->
            <script src="../js/init-chart.js"></script>

            <%--<div class=" row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a data-toggle="tooltip" title="6 new members." class="well top-block" href="#">
                                <i class="glyphicon glyphicon-user blue"></i>

                                <div>Total Members</div>
                                <div>507</div>
                                <span class="notification">6</span>
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a data-toggle="tooltip" title="4 new pro members." class="well top-block" href="#">
                                <i class="glyphicon glyphicon-star green"></i>

                                <div>Pro Members</div>
                                <div>228</div>
                                <span class="notification green">4</span>
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="#">
                                <i class="glyphicon glyphicon-shopping-cart yellow"></i>

                                <div>Sales</div>
                                <div>$13320</div>
                                <span class="notification yellow">$34</span>
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="#">
                                <i class="glyphicon glyphicon-envelope red"></i>

                                <div>Messages</div>
                                <div>25</div>
                                <span class="notification red">12</span>
                            </a>
                        </div>
                    </div>--%>

            <%--<div class="row">
                        <div class="box col-md-12">
                            <div class="box-inner">
                                <div class="box-header well">
                                    <h2><i class="glyphicon glyphicon-info-sign"></i>Introduction</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content row">
                                    <div class="col-lg-7 col-md-12">
                                        <h1>Charisma
                                            <br>
                                            <small>free, premium quality, responsive, multiple skin admin template.</small>
                                        </h1>
                                        <p>
                                            It's a live demo of the template. I have created Charisma to ease the repeat work I have to do on my
                        projects. Now I re-use Charisma as a base for my admin panel work and I am sharing it with you
                        :)
                                        </p>

                                        <p>
                                            <b>All pages in the menu are functional, take a look at all, please share this with your
                            followers.</b>
                                        </p>

                                        <p class="center-block download-buttons">
                                            <a href="http://usman.it/free-responsive-admin-template/" class="btn btn-primary btn-lg"><i
                                                class="glyphicon glyphicon-chevron-left glyphicon-white"></i>Back to article</a>
                                            <a href="http://usman.it/free-responsive-admin-template/" class="btn btn-default btn-lg"><i
                                                class="glyphicon glyphicon-download-alt"></i>Download Page</a>
                                        </p>
                                    </div>
                                    <!-- Ads, you can remove these -->
                                    <div class="col-lg-5 col-md-12 hidden-xs center-text">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Charisma Demo 4 -->
                                        <ins class="adsbygoogle"
                                            style="display: inline-block; width: 336px; height: 280px"
                                            data-ad-client="ca-pub-5108790028230107"
                                            data-ad-slot="9467443105"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                                    </div>

                                    <div class="col-lg-5 col-md-12 visible-xs center-text">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Charisma Demo 5 -->
                                        <ins class="adsbygoogle"
                                            style="display: inline-block; width: 250px; height: 250px"
                                            data-ad-client="ca-pub-5108790028230107"
                                            data-ad-slot="8957582309"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                                    </div>
                                    <!-- Ads end -->

                                </div>
                            </div>
                        </div>
                    </div>--%>

            <%--<div class="row">
                        <div class="box col-md-4">
                            <div class="box-inner homepage-box">
                                <div class="box-header well">
                                    <h2><i class="glyphicon glyphicon-th"></i>Tabs</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active"><a href="#info">Info</a></li>
                                        <li><a href="#custom">Custom</a></li>
                                        <li><a href="#messages">Messages</a></li>
                                    </ul>

                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane active" id="info">
                                            <h3>Charisma
                           
                                                <small>a full featured template</small>
                                            </h3>
                                            <p>
                                                It's a full featured, responsive template for your admin panel. It's optimized for tablets
                            and mobile phones.
                                            </p>

                                            <p>Check how it looks on different devices:</p>
                                            <a href="http://www.responsinator.com/?url=usman.it%2Fthemes%2Fcharisma"
                                                target="_blank"><strong>Preview on iPhone size.</strong></a>
                                            <br>
                                            <a href="http://www.responsinator.com/?url=usman.it%2Fthemes%2Fcharisma"
                                                target="_blank"><strong>Preview on iPad size.</strong></a>
                                        </div>
                                        <div class="tab-pane" id="custom">
                                            <h3>Custom
                           
                                                <small>small text</small>
                                            </h3>
                                            <p>Sample paragraph.</p>

                                            <p>Your custom text.</p>
                                        </div>
                                        <div class="tab-pane" id="messages">
                                            <h3>Messages
                           
                                                <small>small text</small>
                                            </h3>
                                            <p>Sample paragraph.</p>

                                            <p>Your custom text.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->

                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="">
                                    <h2><i class="glyphicon glyphicon-user"></i>Member Activity</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="box-content">
                                        <ul class="dashboard-list">
                                            <li>
                                                <a href="#">
                                                    <img class="dashboard-avatar" alt="Usman"
                                                        src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50"></a>
                                                <strong>Name:</strong> <a href="#">Usman
                            </a>
                                                <br>
                                                <strong>Since:</strong> 17/05/2014<br>
                                                <strong>Status:</strong> <span class="label-success label label-default">Approved</span>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="dashboard-avatar" alt="Sheikh Heera"
                                                        src="http://www.gravatar.com/avatar/3232415a0380253cfffe19163d04acab.png?s=50"></a>
                                                <strong>Name:</strong> <a href="#">Sheikh Heera
                            </a>
                                                <br>
                                                <strong>Since:</strong> 17/05/2014<br>
                                                <strong>Status:</strong> <span class="label-warning label label-default">Pending</span>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="dashboard-avatar" alt="Abdullah"
                                                        src="http://www.gravatar.com/avatar/46056f772bde7c536e2086004e300a04.png?s=50"></a>
                                                <strong>Name:</strong> <a href="#">Abdullah
                            </a>
                                                <br>
                                                <strong>Since:</strong> 25/05/2014<br>
                                                <strong>Status:</strong> <span class="label-default label label-danger">Banned</span>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="dashboard-avatar" alt="Sana Amrin"
                                                        src="http://www.gravatar.com/avatar/hash"></a>
                                                <strong>Name:</strong> <a href="#">Sana Amrin</a><br>
                                                <strong>Since:</strong> 17/05/2014<br>
                                                <strong>Status:</strong> <span class="label label-info">Updates</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->

                        <div class="box col-md-4">
                            <div class="box-inner homepage-box">
                                <div class="box-header well" data-original-title="">
                                    <h2><i class="glyphicon glyphicon-list-alt"></i>Keep in touch</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h3>Stay updated with my projects and blog posts</h3>
                                    <!-- Begin MailChimp Signup Form -->
                                    <div class="mc_embed_signup">
                                        <form action="//halalit.us3.list-manage.com/subscribe/post?u=444b176aa3c39f656c66381f6&amp;id=eeb0c04e84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                            <div>
                                                <label>Please enter your email</label>
                                                <input type="email" value="" name="EMAIL" class="email" placeholder="Email address" required>

                                                <div class="power_field">
                                                    <input type="text" name="b_444b176aa3c39f656c66381f6_eeb0c04e84" tabindex="-1" value=""></div>
                                                <div class="clear">
                                                    <input type="submit" value="Subscribe" name="subscribe" class="button"></div>
                                            </div>
                                        </form>
                                    </div>

                                    <!--End mc_embed_signup-->
                                    <br />

                                    <p>
                                        You may like my other open source work, check my profile on <a href="http://github.com/usmanhalalit"
                                            target="_blank">GitHub</a>.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>--%>
            <!--/row-->

            <%--<div class="row">
                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="">
                                    <h2><i class="glyphicon glyphicon-list"></i>Buttons</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content buttons">
                                    <p class="btn-group">
                                        <button class="btn btn-default">Left</button>
                                        <button class="btn btn-default">Middle</button>
                                        <button class="btn btn-default">Right</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-star"></i>Icon button</button>
                                        <button class="btn btn-primary btn-sm">Small button</button>
                                        <button class="btn btn-danger btn-sm">Small button</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-warning btn-sm">Small button</button>
                                        <button class="btn btn-success btn-sm">Small button</button>
                                        <button class="btn btn-info btn-sm">Small button</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-inverse btn-default btn-sm">Small button</button>
                                        <button class="btn btn-primary btn-round btn-lg">Round button</button>
                                        <button class="btn btn-round btn-default btn-lg"><i class="glyphicon glyphicon-ok"></i></button>
                                        <button class="btn btn-primary"><i class="glyphicon glyphicon-edit glyphicon-white"></i></button>
                                    </p>
                                    <p>
                                        <button class="btn btn-default btn-xs">Mini button</button>
                                        <button class="btn btn-primary btn-xs">Mini button</button>
                                        <button class="btn btn-danger btn-xs">Mini button</button>
                                        <button class="btn btn-warning btn-xs">Mini button</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-info btn-xs">Mini button</button>
                                        <button class="btn btn-success btn-xs">Mini button</button>
                                        <button class="btn btn-inverse btn-default btn-xs">Mini button</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->

                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="">
                                    <h2><i class="glyphicon glyphicon-list"></i>Buttons</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content  buttons">
                                    <p>
                                        <button class="btn btn-default btn-lg">Large button</button>
                                        <button class="btn btn-primary btn-lg">Large button</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-danger btn-lg">Large button</button>
                                        <button class="btn btn-warning btn-lg">Large button</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-success btn-lg">Large button</button>
                                        <button class="btn btn-info btn-lg">Large button</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-inverse btn-default btn-lg">Large button</button>
                                    </p>
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-lg">Large Dropdown</button>
                                        <button class="btn dropdown-toggle btn-default btn-lg" data-toggle="dropdown">
                                            <span
                                                class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><i class="glyphicon glyphicon-star"></i>Action</a></li>
                                            <li><a href="#"><i class="glyphicon glyphicon-tag"></i>Another action</a></li>
                                            <li><a href="#"><i class="glyphicon glyphicon-download-alt"></i>Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#"><i class="glyphicon glyphicon-tint"></i>Separated link</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--/span-->

                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="">
                                    <h2><i class="glyphicon glyphicon-list"></i>Weekly Stat</h2>

                                    <div class="box-icon">
                                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                            class="glyphicon glyphicon-cog"></i></a>
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="dashboard-list">
                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-arrow-up"></i>
                                                <span class="green">92</span>
                                                New Comments
                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-arrow-down"></i>
                                                <span class="red">15</span>
                                                New Registrations
                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-minus"></i>
                                                <span class="blue">36</span>
                                                New Articles
                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-comment"></i>
                                                <span class="yellow">45</span>
                                                User reviews
                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-arrow-up"></i>
                                                <span class="green">112</span>
                                                New Comments
                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-arrow-down"></i>
                                                <span class="red">31</span>
                                                New Registrations
                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-minus"></i>
                                                <span class="blue">93</span>
                                                New Articles
                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-comment"></i>
                                                <span class="yellow">254</span>
                                                User reviews
                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>--%>
            <!--/row-->
            <!-- content ends -->
        </div>


    </div>
    <!--/#content.col-md-0-->

    <!--/fluid-row-->

    <!-- Ad, you can remove it -->
    <%--<div class="row">
                <div class="col-md-9 col-lg-9 col-xs-9 hidden-xs">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Charisma Demo 2 -->
                    <ins class="adsbygoogle"
                        style="display: inline-block; width: 728px; height: 90px"
                        data-ad-client="ca-pub-5108790028230107"
                        data-ad-slot="3193373905"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
                </div>
                <div class="col-md-2 col-lg-3 col-sm-12 col-xs-12 email-subscription-footer">
                    <div class="mc_embed_signup">
                        <form action="//halalit.us3.list-manage.com/subscribe/post?u=444b176aa3c39f656c66381f6&amp;id=eeb0c04e84" method="post" id="Form1" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div>
                                <label>Keep up with my work</label>
                                <input type="email" value="" name="EMAIL" class="email" placeholder="Email address" required>

                                <div class="power_field">
                                    <input type="text" name="b_444b176aa3c39f656c66381f6_eeb0c04e84" tabindex="-1" value=""></div>
                                <div class="clear">
                                    <input type="submit" value="Subscribe" name="subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
                </div>

            </div>--%>
    <!-- Ad ends -->

    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
